.game {
  width: 100%;
  height: 100%;
}
#root {
  z-index: 1 !important;
}
#maps {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: white;
  padding-top: 50px;
  overflow: auto;
  padding-bottom: 50px;
  text-align: center;
  box-sizing: border-box;
}
h1 {
  font-size: 48px;
  margin-bottom: 60px;
  color: #ec3a6c;
  font-weight: normal;
  text-decoration: none;
}
.overlay {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(transparent, rgba(255, 0, 0, 1));
  opacity: 0;
  mix-blend-mode: normal;
  will-change: opacity;
}
#maps p {
  font-size: 30px;
  padding: 20px;
  width: 700px;
  margin: auto;
  border-radius: 10px;
}
#maps p:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
@keyframes hit {
  from {
    color: #ff2222;
    transform: scale(2);
  }
  to {
    color: white;
    transform: scale(1);
  }
}
body {
  margin: 0px;
  padding: 0px;
  background-color: black;
  overflow: hidden;
  font-family: "Orbitron", sans-serif;
}
body * {
  z-index: 5;
}
#crosshair {
  width: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  pointer-events: none;
}
#leave {
  color: white;
  text-shadow: black 0px 0px 5px;
  font-size: 20px;
  cursor: pointer;
  margin: 0;
  flex-shrink: 0;
  flex-grow: 0;
}
#health {
  color: white;
  position: absolute;
  text-shadow: black 0px 0px 5px;
  transform-origin: 0px 0px;
  font-size: 35px;
  left: 0px;
  bottom: 0px;
  margin: 20px;
  line-height: 100%;
  pointer-events: none;
}
#health.hit {
  animation: hit 0.3s;
}
#weapon {
  font-size: 35px;
  color: white;
  position: absolute;
  margin: 20px;
  bottom: 0;
  right: 0;
  pointer-events: none;
  text-shadow: black 0px 0px 5px;
}
.pause {
  width: 100%;
  height: 100px;
  display: flex;
  position: absolute;
  left: 0;
  top: -100px;
  transition: top 0.4s;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}
.pause.active {
  top: 0;
}
#powerUpContainer {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}
#powerUpContainer > div {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  width: 200px;
  margin-bottom: 0px;
  position: relative;
  height: 0px;
  overflow: hidden;
  transition: height 0.25s, margin-bottom 0.25s;
  box-sizing: border-box;
}
#powerUpContainer > div.shown {
  height: 40px;
  margin-bottom: 10px;
}
#powerUpContainer > div > p:first-child {
  margin: 0;
  color: #e63d3d;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  /*padding: 10px;*/
  padding-left: 10px;
  height: 40px;
  line-height: 40px;
}
#powerUpContainer > div > p:last-child {
  margin: 0;
  /* float: right; */
  vertical-align: top;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  /*padding: 10px;*/
  padding-right: 10px;
  height: 40px;
  line-height: 40px;
}





#killfeed {
	position: absolute;
	top: 0px;
	left: 0;
	margin: 20px;
  }
  #killfeed > div {
	background: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
	/*width: 400px;*/
	margin-bottom: 0px;
	font-size: 12px;
	position: relative;
	height: 0px;
	overflow: hidden;
	transition: height 0.25s, margin-bottom 0.25s, padding 0.25s;
	box-sizing: border-box;
	color: white;
	padding: 0px 15px;

  }
  #killfeed > div.shown {
	height: 28px;
	margin-bottom: 10px;
	padding: 5px 15px;
  }